*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    font-family: "Bona Nova SC", serif;
}
div{
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-color: blanchedalmond;
    margin: 0px auto;
    margin-bottom: 20px;

}
div.red{
    background-color: red;
}
div.green{
    background-color: #008000;
}
div.blue{
    background-color: blue;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 150%;
    color: aliceblue;
}

div.circle{
    border-radius: 50%;
}